[workspace]
resolver = "2"
members = [
    "crates/rga",
    "crates/server",
    "crates/client",
]

[workspace.package]
version = "0.1.0"
edition = "2021"

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
strip = true

[profile.dev]
opt-level = 0
debug = true
