[package]
name = "protocol"
version.workspace = true
edition.workspace = true

[dependencies]
rga = { path = '../rga' }
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.145"
tokio = { version = "1.48.0", features = ["full"] }
uuid = "1.19.0"
