name: Test Crates

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    paths:
      - 'Cargo.toml'
      - 'crates/**'
      - 'rust-toolchaim.toml'
      - '.github/workflows/test-backend.yml'

env:
  CARGO_TERM_COLOR: always

jobs:
  test-crates:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
